body {
    background: black;
    font-family: 'Montserrat', sans-serif;
}

.container-externe{
    display: grid;
    grid-template-columns: 600px 600px;
    grid-template-rows: 300px 50px 250px;
    grid-gap: 30px;
    justify-content: center;
    margin-top: 5%;
}
    
.Accueil{
    grid-column: 1 / 2;
    text-align: center;
    color: whitesmoke;
    font-size: xxx-large;
    font-weight: 900;
}

.descriptif{
    grid-row: 2/3;
    text-align: center;
}

.descriptif h2 {
    display: inline-block;
    border-bottom: 1px solid rgb(124, 119, 119);
    color: rgb(124, 119, 119);
    padding-bottom: 20px;
    font-weight: 300;
    font-size: large;
}

.PetitePresentation {
    
    grid-row:  3/4;
    grid-column: 1/2;
    text-align: left;
    font-weight: 300;
    font-size: medium;
    background-color: rgb(15, 15, 15);
    color: whitesmoke;
    border-radius: 15px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.compétences{
    grid-column: 2/3;
    grid-row: 1/4;
    background-color: rgb(15, 15, 15);
    border-radius: 15px;
}

.mes-compétences{
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 100px;
    padding:5%;
    grid-gap:5px;
}

.compétences-informatique{
    grid-column: 1/3;
    grid-row: 1/2;
    text-align: center;
}

.compétences-informatique h2{
    border-bottom: 1px solid rgb(124, 119, 119);
    display: inline;
    text-align: left;
    color: rgb(124, 119, 119);
    padding-bottom: 20px;
    font-weight: 300;
    font-size: large;
}

.Langage-C p, .Langage-C-plpl p, .Langage-C-sharp p, .Python p, .HTML p, .CSS p{
    background-color: rgb(37, 37, 37);
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px;
    border-radius: 15px;
    color: rgb(124, 119, 119);
    
}

.Langage-C, .Langage-C-plpl, .Langage-C-sharp, .Python, .HTML, .CSS{
    grid-column: 1/2;
    text-align: center;
}

.Langage-C p:hover, .Langage-C-plpl p:hover, .Langage-C-sharp p:hover, .Python p:hover, .HTML p:hover, .CSS p:hover{
    background-color: rgb(49, 49, 49);
}

.Langage-C{
    grid-row: 2/3;
}

.Langage-C-plpl{
    grid-row: 3/4;
}

.Langage-C-sharp{
    grid-row: 4/5;
}

.Python{
    grid-row: 5/6;
}

.HTML{
    grid-row: 6/7;
}

.CSS{
    grid-row: 7/8;
}

.description-langages{
    grid-column: 2/3;
    grid-row: 2/8;
    height: 290px;
    background-color: rgb(37, 37, 37);
    margin-top: 20px;
    margin-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px;
    border-radius: 15px;
    color: rgb(124, 119, 119);
}

.description-langages p{
    color: whitesmoke;
}

.compétences-électronique{
    margin-top: 25px;
    grid-column: 1/3;
    grid-row: 8/9;
    text-align: center;
}

.compétences-électronique h2{
    border-bottom: 1px solid rgb(124, 119, 119);
    display: inline;
    text-align: left;
    color: rgb(124, 119, 119);
    padding-bottom: 20px;
    font-weight: 300;
    font-size: large;
}

@media screen and (max-width: 1264px) {
    .container-externe {
        grid-template-columns: 1fr;
        grid-template-rows: 400px 100px auto auto;
        justify-content: center;
        margin-right: 15px;
        margin-left: 15px;
    }

    .compétences {
        grid-column: 1;
        grid-row: 4/5;
        background-color: rgb(15, 15, 15);
        border-radius: 15px;    
    }
}