body {
    background: #F5F5DC;
}

h1{
    border: 10px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: xx-large;
    font-weight: 900;
    padding-left: 10%;
    padding-top: 15%;
}