body {
    color : white;
    background-color: black;
}

p {
    font-family: 'Lexend', sans-serif;
    font-weight:700;
    text-align: center;
}

h3 {
    font-family: 'Lexend', sans-serif;
    font-size:medium;
    font-weight: 700;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

.presentation {
    padding-top: 20px;
    background-color: rgb(15, 15, 15);
    border-radius: 20px;
    margin-left: 30%;
    margin-right: 30%;
    padding-bottom: 20px;
}

.petitePresentation{
    text-align: justify;
}

header{
    margin-left: 20%;
    margin-right: 20%;
    padding:30px;
    text-align: center;

}