@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
	--font-JetBrainsMono: 'JetBrains Mono', 'monospace';
	--font-poppins: 'Poppins', 'sans-serif';
	--font-worksans: 'Work Sans', 'sans-serif';
}

@layer utilities {
  .animate-gradient {
    animation: gradient-x 5s ease infinite;
  }

  @keyframes gradient-x {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

@keyframes scrollDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(18px);
  }
}

.animate-scroll-down {
  animation: scrollDown 1.5s infinite ease-in-out;
}

html {
  scroll-behavior: smooth;
}

